html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.nav::after {
  content: "";
  display: block;
  clear: both;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ol, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input, textarea {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body {
  padding: 0;
  margin: 0;
  background: url(../img/bg.png) center top no-repeat #cf2c33;
}

.wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.menu {
  width: 185px;
  height: 210px;
  position: fixed;
  top: 50%;
  right: 0;
  margin-top: -105px;
  z-index: 100;
}
.menu ul li a {
  display: block;
  width: 185px;
  height: 39px;
  position: absolute;
  right: -145px;
  cursor: pointer;
}
.menu ul li .add {
  right: 0;
}
.menu ul li:nth-of-type(1) a {
  top: 0;
}
.menu ul li:nth-of-type(1) a:hover {
  right: 0;
}
.menu ul li:nth-of-type(2) a {
  top: 42px;
}
.menu ul li:nth-of-type(2) a:hover {
  right: 0;
}
.menu ul li:nth-of-type(3) a {
  top: 84px;
}
.menu ul li:nth-of-type(3) a:hover {
  right: 0;
}
.menu ul li:nth-of-type(4) a {
  top: 126px;
}
.menu ul li:nth-of-type(4) a:hover {
  right: 0;
}
.menu ul li:nth-of-type(5) a {
  top: 168px;
}
.menu ul li:nth-of-type(5) a:hover {
  right: 0;
}

.content {
  width: 1200px;
  height: 1000px;
  margin: auto;
  position: relative;
}

.nav {
  width: 100%;
  height: 60px;
}
.nav .nav_l a {
  width: 120px;
  margin-top: 20px;
  margin-left: 10px;
  float: left;
  cursor: pointer;
}
.nav .nav_r {
  float: right;
  margin-top: 15px;
  margin-right: 10px;
}
.nav .nav_r ul li {
  display: inline-block;
}
.nav .nav_r ul li a {
  display: block;
  cursor: pointer;
}
.nav .nav_r ul li a:hover {
  -webkit-filter: brightness(0.6);
  -moz-filter: brightness(0.6);
  -ms-filter: brightness(0.6);
  -o-filter: brightness(0.6);
  filter: brightness(0.6);
}

.part01, .part02, .part03 {
  width: 1200px;
  height: 800px;
  position: absolute;
}

.part01 {
  display: block;
}

.part02 {
  display: none;
}

.part03 {
  display: none;
}

.p01_01 {
  position: absolute;
  width: 308px;
  height: 224px;
  top: 105px;
  left: 70px;
}

.p01_02 {
  position: absolute;
  width: 352px;
  height: 686px;
  left: 50%;
  top: 20px;
  margin-left: -176px;
  z-index: 100;
  cursor: pointer;
}
.p01_02:hover {
  -webkit-filter: brightness(0.8);
  -moz-filter: brightness(0.8);
  -ms-filter: brightness(0.8);
  -o-filter: brightness(0.8);
  filter: brightness(0.8);
  top: 5px;
}

.p01_03 {
  position: absolute;
  width: 90px;
  height: 222px;
  top: 350px;
  left: 0;
}

.p01_04 {
  position: absolute;
  width: 126px;
  height: 412px;
  top: 145px;
  right: 0;
}

.p01_05 {
  position: absolute;
  width: 314px;
  height: 418px;
  left: 410px;
  top: 140px;
  z-index: 99;
}

.p01_06 {
  display: block;
  position: absolute;
  width: 201px;
  height: 222px;
  top: 0;
  right: 20px;
  -moz-animation: tag01 0.3s linear infinite alternate;
  -webkit-animation: tag01 0.3s linear infinite alternate;
  animation: tag01 0.3s linear infinite alternate;
}

@-moz-keyframes tag01 {
  from {
    top: 160px;
  }
  to {
    top: 150px;
  }
}
@-webkit-keyframes tag01 {
  from {
    top: 160px;
  }
  to {
    top: 150px;
  }
}
@keyframes tag01 {
  from {
    top: 160px;
  }
  to {
    top: 150px;
  }
}
.p02_01 {
  position: absolute;
  width: 359px;
  height: 183px;
  top: 100px;
  left: 100px;
}

.p02_02 {
  position: absolute;
  width: 391px;
  height: 201px;
  top: 310px;
  left: 70px;
}

.p02_03, .p02_04, .p02_05, .p02_06 {
  position: absolute;
  display: block;
  width: 266px;
  height: 244px;
  cursor: pointer;
}
.p02_03:hover, .p02_04:hover, .p02_05:hover, .p02_06:hover {
  -webkit-filter: brightness(0.6);
  -moz-filter: brightness(0.6);
  -ms-filter: brightness(0.6);
  -o-filter: brightness(0.6);
  filter: brightness(0.6);
}

.p02_03 {
  top: 100px;
  left: 520px;
}
.p02_03:hover {
  top: 105px;
}

.p02_04 {
  top: 100px;
  left: 820px;
}
.p02_04:hover {
  top: 105px;
}

.p02_05 {
  top: 360px;
  left: 520px;
}
.p02_05:hover {
  top: 365px;
}

.p02_06 {
  top: 360px;
  left: 820px;
}
.p02_06:hover {
  top: 365px;
}

.p03_01 {
  position: absolute;
  width: 511px;
  height: 157px;
  left: 50%;
  top: 100px;
  margin-left: -255px;
}

.p03_02 {
  position: absolute;
  width: 288px;
  height: 177px;
  top: 90px;
  left: 120px;
}

.p03_03 {
  position: absolute;
  width: 156px;
  height: 171px;
  right: 160px;
  top: 90px;
  -moz-animation: tag02 0.3s linear infinite alternate;
  -webkit-animation: tag02 0.3s linear infinite alternate;
  animation: tag02 0.3s linear infinite alternate;
}

@-moz-keyframes tag02 {
  from {
    top: 90px;
  }
  to {
    top: 80px;
  }
}
@-webkit-keyframes tag02 {
  from {
    top: 90px;
  }
  to {
    top: 80px;
  }
}
@keyframes tag02 {
  from {
    top: 90px;
  }
  to {
    top: 80px;
  }
}
.p03_04 {
  position: absolute;
  width: 930px;
  height: 460px;
  top: 270px;
  left: 50%;
  margin-left: -465px;
}

.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  background: url(../img/popupbg.png) repeat;
  z-index: 200;
  display: none;
}

.popmain {
  width: 560px;
  height: 380px;
  background-color: #e6e519;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -190px;
  margin-left: -280px;
}
.popmain .close {
  width: 50px;
  height: 50px;
  position: absolute;
  display: block;
  right: -50px;
  background-color: #e6e519;
  cursor: pointer;
}
.popmain .close:hover {
  -webkit-filter: brightness(0.6);
  -moz-filter: brightness(0.6);
  -ms-filter: brightness(0.6);
  -o-filter: brightness(0.6);
  filter: brightness(0.6);
}
.popmain .close img {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.popmain .close img:hover {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.popmain .videobtn {
  display: block;
  position: absolute;
  width: 536px;
  height: 358px;
  top: 12px;
  left: 11px;
  z-index: 100;
  cursor: pointer;
}
.popmain .videobtn:hover {
  -webkit-filter: brightness(0.6);
  -moz-filter: brightness(0.6);
  -ms-filter: brightness(0.6);
  -o-filter: brightness(0.6);
  filter: brightness(0.6);
}
.popmain .video {
  display: block;
  position: absolute;
  width: 536px;
  height: 358px;
  top: 12px;
  left: 11px;
  z-index: 99;
}
.popmain .pop01 {
  position: absolute;
  width: 82px;
  height: 220px;
  right: -82px;
  bottom: 0;
  ovreflow: hidden;
}
.popmain .pop02 {
  position: absolute;
  width: 98px;
  height: 208px;
  left: -98px;
  bottom: 130px;
  ovreflow: hidden;
}
