@import compass/reset
@import compass/css3
@import compass/css3/filter
@import compass/css3/box-sizing
@import compass/css3/transform
@import compass/utilities/color/brightness


@mixin rwd($point)
	@if $point == pc
		@media only screen and (max-width: 1200px)
			@content
	@else if $point == pad
		@media only screen and (max-width: 992px)
			@content
	@else if $point == mobile
		@media only screen and (max-width: 768px)
			@content

@mixin filter($filter-type,$filter-amount)
	-webkit-filter: $filter-type+unquote('(#{$filter-amount})')
	-moz-filter: $filter-type+unquote('(#{$filter-amount})')
	-ms-filter: $filter-type+unquote('(#{$filter-amount})')
	-o-filter: $filter-type+unquote('(#{$filter-amount})')
	filter: $filter-type+unquote('(#{$filter-amount})')

%clear
	content: ''
	display: block
	clear: both

$w:1200px
$bg:"../img/"
$f:'微軟正黑體','Microsoft JhengHei',Arial,sans-serif

*
	+box-sizing(border-box)

ol,ul,li
	margin: 0
	padding: 0
	list-style: none

input,textarea
	margin: 0
	padding: 0
a
	text-decoration: none
	+transition(all 0.3s)

body
	padding: 0
	margin: 0
	background: url(#{$bg}bg.png) center top no-repeat #cf2c33

.wrap
	width: 100%
	height: 100%
	position: relative

.menu
	width: 185px
	height: 210px
	position: fixed
	top: 50%
	right: 0
	margin-top: -105px
	z-index: 100
	& ul li a
		display: block
		width: 185px
		height: 39px
		position: absolute
		right: -145px
		cursor: pointer

	& ul li .add
		right: 0

	& ul li:nth-of-type(1) a
		top: 0
		&:hover
			right: 0

	& ul li:nth-of-type(2) a
		top: 42px
		&:hover
			right: 0

	& ul li:nth-of-type(3) a
		top: 84px
		&:hover
			right: 0

	& ul li:nth-of-type(4) a
		top: 126px
		&:hover
			right: 0

	& ul li:nth-of-type(5) a
		top: 168px
		&:hover
			right: 0
	
.content
	width: $w
	height: 1000px
	margin: auto
	position: relative

.nav
	width: 100%
	height: 60px
	&::after
		@extend %clear

	& .nav_l a
		width: 120px
		margin-top: 20px
		margin-left: 10px
		float: left
		cursor: pointer

	& .nav_r
		float: right
		margin-top: 15px
		margin-right: 10px

		& ul li
			display: inline-block

		& ul li a
			display: block
			cursor: pointer
			&:hover
				+filter(brightness,.6)


.part01 , .part02  , .part03 
	width: $w
	height: 800px
	position: absolute

.part01
	display: block

.part02
	display: none

.part03
	display: none

.p01_01
	position: absolute
	width: 308px
	height: 224px
	top: 105px
	left: 70px
	// opacity: 0

.p01_02
	position: absolute
	width: 352px
	height: 686px
	left: 50%
	top: 20px
	margin-left: -176px
	z-index: 100
	// opacity: 0
	// +transform(rotate(-60deg))
	cursor: pointer
	&:hover
		+filter(brightness,.8)
		top: 5px


.p01_03
	position: absolute
	width: 90px
	height: 222px
	top: 350px
	left: 0
	// opacity: 0	// opacity: 0
	// +transform(rotate(60deg))

.p01_04
	position: absolute
	width: 126px
	height: 412px
	top: 145px
	right: 0
	// opacity: 0

.p01_05
	position: absolute
	width: 314px
	height: 418px
	left: 410px
	top: 140px
	z-index: 99
	// opacity: 0


.p01_06
	display: block
	position: absolute
	width: 201px
	height: 222px
	top: 0
	right: 20px
	// opacity: 0.7
	// cursor: pointer
	+animation(tag01 0.3s linear infinite alternate)
	// &:hover
	// 	+filter(brightness,.6)

+keyframes(tag01)
	from
		top: 160px
	to
		top: 150px

.p02_01
	position: absolute
	width: 359px
	height: 183px
	top: 100px
	left: 100px

.p02_02
	position: absolute
	width: 391px
	height: 201px
	top: 310px
	left: 70px

.p02_03 , .p02_04 , .p02_05 , .p02_06
	position: absolute
	display: block
	width: 266px
	height: 244px
	cursor: pointer
	&:hover
		+filter(brightness,.6)	

.p02_03
	top: 100px
	left: 520px
	&:hover
		top: 105px

.p02_04
	top: 100px
	left: 820px
	&:hover
		top: 105px

.p02_05
	top: 360px
	left: 520px
	&:hover
		top: 365px

.p02_06
	top: 360px
	left: 820px
	&:hover
		top: 365px

.p03_01
	position: absolute
	width: 511px
	height: 157px
	left: 50%
	top: 100px
	margin-left: -255px

.p03_02
	position: absolute
	width: 288px
	height: 177px
	top: 90px
	left: 120px

.p03_03
	position: absolute
	width: 156px
	height: 171px
	right: 160px
	top: 90px
	+animation(tag02 0.3s linear infinite alternate)
	// cursor: pointer
	// &:hover
	// 	+filter(brightness,.6)

+keyframes(tag02)
	from
		top: 90px
	to
		top: 80px

.p03_04
	position: absolute
	width: 930px
	height: 460px
	top: 270px
	left: 50%
	margin-left: -465px

.popup
	width: 100%
	height: 100%
	position: fixed
	background: url(#{$bg}popupbg.png) repeat
	z-index: 200
	display: none

.popmain
	width: 560px
	height: 380px
	background-color: #e6e519
	position: absolute
	top: 50%
	left: 50%
	margin-top: -190px
	margin-left: -280px

	& .close
		width: 50px
		height: 50px
		position: absolute
		display: block
		right: -50px
		background-color: #e6e519
		cursor: pointer
		&:hover
			+filter(brightness,.6)

		& img
			+transition(all 0.3s)

			&:hover
				+transform(rotate(180deg))

	& .videobtn
		display: block
		position: absolute
		width: 536px
		height: 358px
		top: 12px
		left: 11px
		z-index: 100
		cursor: pointer
		&:hover
			+filter(brightness,.6)

	& .video
		display: block
		position: absolute
		width: 536px
		height: 358px
		top: 12px
		left: 11px
		z-index: 99

	& .pop01
		position: absolute
		width: 82px
		height: 220px
		right: -82px
		bottom: 0
		ovreflow: hidden

	& .pop02
		position: absolute
		width: 98px
		height: 208px
		left: -98px
		bottom: 130px
		ovreflow: hidden
